<div class="row mt-5">

  <div class="col-4 offset-4 mt-5">

    <form action="/send-otp" method="post" class="border border-2 p-5 rounded-3">
      <input  class= "form-control" name = "email" placeholder="Enter Email" />
      <button type="submit" class="btn btn-primary  mt-3 form-control">Send OTP</button>
    </form>
  </div>

</div>