<div class="row mt-5">

  <div class="col-4 offset-4 mt-5">
    <p>OTP sent successfully</p>
    <form action="/verify-otp" method="post" class="border border-2 p-5 rounded-3">
      <input  class= "form-control"  placeholder="Enter OTP" name="otp"/>
      <button type="submit" class="btn btn-primary  mt-3 form-control">submit</button>
    </form>
  </div>

</div>